<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZCHPC_AFIS</title>
</head>
<body>
    <p><h1 align="center">ZCHPC Automated Fingerprint Identification System</h1></p>
<div class="container">
    <div class="row">
    <form enctype="multipart/form-data" action="save_file.py" method="post">
        <dl>
            <p>
                File:<input type="file" name="filename" class="form-control" autocomplete="off" required/>
            </p>
        </dl>
        <p>
            <input type="submit" value="Upload" class="btn btn-info" required/>
        </p>
    </form>
    </div>
</div>
</body>
</html>